%div
  %div.info-card
    = image_tag("alex.jpg", style: "width: 100%")
    %div.info-card-details.animate
      %div.info-card-header
        %h1 Alex "A.J" Norton
        %h3 aka ajn123
      %div.info-card-detail
        -# <!-- Description -->
        %p
          The idea of creating something out of nothing has always generated a passion in my heart. This is what lead me to website development.
          I can literally create little worlds that hopefully thousands of people can see and even experience.
        %div.social
          -#<!--<a href="https://www.facebook.com/rem.mcintosh" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>-->

          -#<!--<a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>-->

          %a{ href:"https://github.com/ajn123", target: '_blank', class: "[ social-icon github ] animate" }
            %span.fa.fa-github-alt

          -# <!--<a href="https://plus.google.com/u/0/115077481218689845626/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>-->

          %a{ href: "https://www.linkedin.com/in/ajnorton/", target: '_blank', class: "[ social-icon linkedin ] animate" }
            %span.fa.fa-linkedin