<div >
  <div class="[ info-card ]">
    <%= image_tag("alex.jpg", style: "width: 100%") %>
    <div class="[ info-card-details ] animate">
      <div class="[ info-card-header ]">
        <h1> Alex "A.J" Norton </h1>
        <h3> aka ajn123 </h3>
      </div>
      <div class="[ info-card-detail ]">
        <!-- Description -->
        <p>The idea of creating something out of nothing has always generated a passion in my heart. This is what lead me to website development. I can literally create little worlds that hopefully thousands of people can see and even experience.</p>
        <div class="social">
          <a href="https://www.facebook.com/rem.mcintosh" class="[ social-icon facebook ] animate"><span class="fa fa-facebook"></span></a>

          <a href="https://twitter.com/Mouse0270" class="[ social-icon twitter ] animate"><span class="fa fa-twitter"></span></a>

          <a href="https://github.com/mouse0270" class="[ social-icon github ] animate"><span class="fa fa-github-alt"></span></a>

          <a href="https://plus.google.com/u/0/115077481218689845626/posts" class="[ social-icon google-plus ] animate"><span class="fa fa-google-plus"></span></a>

          <a href="www.linkedin.com/in/remcintosh/" class="[ social-icon linkedin ] animate"><span class="fa fa-linkedin"></span></a>
        </div>
      </div>
    </div>
  </div>
</div>