%p
  Email me anytime at
  %a{ href: "mailto:alexnorton@vt.edu" }
    alexnorton@vt.edu


%div.contact
  %ul
    %li
      %a{ href: "http://stackoverflow.com/users/4171159/applejuiceteaching", target: "_blank" }
        %i.fa.fa-stack-overflow.fa-3x
    %li
      %a{ href: "www.linkedin.com/in/ajnorton/", target: "_blank" }
        %i.fa.fa-linkedin.fa-3x
