%div.blog-footer
  %p
    Blog template built by
    %a{ href: "http://getbootstrap.com" }Bootstrap
    by
    %a{ href: "https://twitter.com/mdo" } @mdo.
  %p
    Backend built in rails by me
  %a{ href: "#" }Back to top