<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About A.J Norton</h4>
    <p> I have no idea what I am doing and I love it.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/ajn123"><i class="fa fa-github-alt fa-2x">Github</i> </a></li>
      <li><a href="https://www.youtube.com/user/AppleJuiceScholars"><i class="fa fa-youtube-play fa-2x">Youtube</i> </a></li>
    </ol>
  </div>

  <div class="sidebar-module">
    <h4>Tags</h4>
    <ol class="list-unstyled">
      <% Blog.all_keywords.each do |keyword| %>
        <a href="<%= search_blogs_path(keyword: keyword) %>" class="label label-success"><%= keyword %></a>
      <% end %>
    </ol>
  </div>

  <div class="sidebar-module">
    <h4>Archives</h4>
    <ol class="list-unstyled">
      <% Blog.archive_months.each do |date| %>
       <li><%=link_to( month_year_convertor(date), search_blogs_path(month: date[0], year: date[1])) %></li>
    <% end %>
    </ol>
  </div>




</div><!-- /.blog-sidebar -->